<div class="mx-full">
    <h3 class="mat-title-medium">Display</h3>
    <mat-card>
        <mat-card-content>
            <div class="mat-display-large">mat-display-large</div>
            <div class="mat-display-medium">mat-display-medium</div>
            <div class="mat-display-small">mat-display-small</div>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Headline</h3>
    <mat-card>
        <mat-card-content>
            <div class="mat-headline-large">mat-headline-large</div>
            <div class="mat-headline-medium">mat-headline-medium</div>
            <div class="mat-headline-small">mat-headline-small</div>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Title</h3>
    <mat-card>
        <mat-card-content>
            <div class="mat-title-large">mat-title-large</div>
            <div class="mat-title-medium">mat-title-medium</div>
            <div class="mat-title-small">mat-title-small</div>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Body</h3>
    <mat-card>
        <mat-card-content>
            <div class="mat-body-large">mat-body-large</div>
            <div class="mat-body-medium">mat-body-medium</div>
            <div class="mat-body-small">mat-body-small</div>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Label</h3>
    <mat-card>
        <mat-card-content>
            <div class="mat-label-large">mat-label-large</div>
            <div class="mat-label-medium">mat-label-medium</div>
            <div class="mat-label-small">mat-label-small</div>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Colors</h3>
    <mat-card>
        <mat-card-content>
            <div class="text-primary">text-primary</div>
            <div class="text-secondary">text-secondary</div>
            <div class="text-tertiary">text-tertiary</div>
            <div class="text-error">text-error</div>
        </mat-card-content>
    </mat-card>
</div>
