<mat-toolbar>
    <ddr-mat-sidenav-toggle></ddr-mat-sidenav-toggle>
    <ex-title></ex-title>
</mat-toolbar>

<mat-card class="mb-3">
    <mat-card-header>
        <mat-card-title>Headings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h1 class="mat-h1">Heading 1</h1>
        <h2 class="mat-h2">Heading 2</h2>
        <h3 class="mat-h3">Heading 3</h3>
        <h4 class="mat-h4">Heading 4</h4>
        <h3 class="mat-h5">Heading 5</h3>
        <h4 class="mat-h6">Heading 6</h4>
    </mat-card-content>
</mat-card>

<mat-card class="mb-3">
    <mat-card-header>
        <mat-card-title>Headlines</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-headline-1">Headline 1</div>
        <div class="mat-headline-2">Headline 2</div>
        <div class="mat-headline-3">Headline 3</div>
        <div class="mat-headline-4">Headline 4</div>
        <div class="mat-headline-5">Headline 5</div>
        <div class="mat-headline-6">Headline 6</div>
    </mat-card-content>
</mat-card>

<mat-card class="mb-3">
    <mat-card-header>
        <mat-card-title>Subtitles</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-subtitle-1">Subtitle 1</div>
        <div class="mat-subtitle-2">Subtitle 2</div>
    </mat-card-content>
</mat-card>

<mat-card class="mb-3">
    <mat-card-header>
        <mat-card-title>Body</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-body-1">Body text</div>
        <div class="mat-body-2">Secondary Body Text</div>
        <div class="mat-caption">Caption</div>
    </mat-card-content>
</mat-card>
