<mat-card class="mx-full bg-surface-container border-color-none">
    <mat-card-header>
        <img mat-card-avatar src="assets/images/avatar4.jpeg"/>
        <mat-card-title>Flower Bouquet</mat-card-title>
        <mat-card-subtitle>Can be something nice</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/back2.jpeg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            A flower bouquet is a beautiful arrangement of fresh flowers that is often given as a gift or used to
            decorate a space. Bouquets can be made up of a variety of flowers, each carefully chosen for its color,
            scent, and symbolism. From vibrant roses to delicate lilies, a flower bouquet can convey a range of emotions
            and messages. Whether used for weddings, birthdays, or just to brighten someone's day, a flower bouquet is a
            timeless and heartfelt gesture of love and appreciation.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
    </mat-card-actions>
</mat-card>
