<mat-toolbar color="primary">
    <ex-sidenav-toggle></ex-sidenav-toggle>
    <ex-title></ex-title>
</mat-toolbar>

<mat-card class="flex-container-row">
    <mat-form-field>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let color of colors" selectable="true" removable="true" (removed)="removeColor(color)">
                {{color}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>

            <input
                    placeholder="Pick some colors"
                    #chipInput
                    [formControl]="formControl"
                    [matAutocomplete]="autoComplete"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addColor($event.value, chipInput)"
                    matChipInputAddOnBlur="false"
            />
        </mat-chip-list>
        <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="addColor($event.option.value, chipInput)">
            <mat-option *ngFor="let filteredColor of (filteredColors$|async)" [value]="filteredColor">
                {{ filteredColor }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</mat-card>
