.mat-sidenav-container {

    .mat-sidenav {

        &.mat-drawer-over {
            max-width: 90vw;
        }

        .mat-mdc-nav-list {
            .mat-mdc-list-item {
                width: auto;
                margin-right: .5rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .mat-sidenav-content {
        min-height: 100vh;
    }
}

.ddr-mat-fixed-toolbar-container {
    height: var(--mat-toolbar-mobile-height);
    @media (min-width: $ddr-breakpoint-sm) {
        height: var(--mat-toolbar-standard-height);
    }
}
