@use '@angular/material' as mat;

@include mat.core();

$ddr-mat-light-primary: mat.$azure-palette !default;
$ddr-mat-light-tertiary: mat.$magenta-palette !default;
$ddr-mat-dark-primary: mat.$azure-palette !default;
$ddr-mat-dark-tertiary: mat.$magenta-palette !default;

$ddr-light-theme: mat.define-theme((
        color: (
                primary: $ddr-mat-light-primary,
                tertiary: $ddr-mat-light-tertiary,
        ),
)) !default;

$ddr-dark-theme: mat.define-theme((
        color: (
                theme-type: dark,
                primary: $ddr-mat-dark-primary,
                tertiary: $ddr-mat-dark-tertiary,
        ),
)) !default;

:root {
    @include mat.all-component-themes($ddr-light-theme);
    @media (prefers-color-scheme: dark) {
        @include mat.all-component-themes($ddr-dark-theme);
    }
}

@include mat.typography-hierarchy($ddr-light-theme);

.mat-mdc-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }
}

.mat-mdc-raised-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }
}

.mat-mdc-outlined-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }
}

.mat-mdc-unelevated-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }
}
