@use '@angular/material' as mat;

@include mat.core();

$ddr-mat-light-primary: mat.$azure-palette !default;
$ddr-mat-light-tertiary: mat.$magenta-palette !default;
$ddr-mat-dark-primary: mat.$azure-palette !default;
$ddr-mat-dark-tertiary: mat.$magenta-palette !default;

$ddr-light-theme: mat.define-theme((
        color: (
                primary: $ddr-mat-light-primary,
                tertiary: $ddr-mat-light-tertiary,
        ),
)) !default;

$ddr-dark-theme: mat.define-theme((
        color: (
                theme-type: dark,
                primary: $ddr-mat-dark-primary,
                tertiary: $ddr-mat-dark-tertiary,
        ),
)) !default;

:root {
    @include mat.all-component-themes($ddr-light-theme);
    @media (prefers-color-scheme: dark) {
        @include mat.all-component-colors($ddr-dark-theme);
    }
}

@include mat.typography-hierarchy($ddr-light-theme);

.mat-mdc-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }
}

.mat-mdc-raised-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }
}

.mat-mdc-outlined-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }
}

.mat-mdc-unelevated-button {
    &.mat-secondary {
        @include mat.button-color($ddr-light-theme, $color-variant: secondary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-tertiary {
        @include mat.button-color($ddr-light-theme, $color-variant: tertiary);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }

    &.mat-error {
        @include mat.button-color($ddr-light-theme, $color-variant: error);
        @media (prefers-color-scheme: dark) {
            @include mat.button-color($ddr-dark-theme, $color-variant: secondary);
        }
    }
}

.text-primary {
    color: mat.get-theme-color($ddr-light-theme, primary) !important;
    @media (prefers-color-scheme: dark) {
        color: mat.get-theme-color($ddr-dark-theme, primary) !important;
    }
}

.text-secondary {
    color: mat.get-theme-color($ddr-light-theme, secondary) !important;
    @media (prefers-color-scheme: dark) {
        color: mat.get-theme-color($ddr-dark-theme, secondary) !important;
    }
}

.text-tertiary {
    color: mat.get-theme-color($ddr-light-theme, tertiary) !important;
    @media (prefers-color-scheme: dark) {
        color: mat.get-theme-color($ddr-dark-theme, tertiary) !important;
    }
}

.text-error {
    color: mat.get-theme-color($ddr-light-theme, error) !important;
    @media (prefers-color-scheme: dark) {
        color: mat.get-theme-color($ddr-dark-theme, error) !important;
    }
}

.bg-primary-container {
    background-color: mat.get-theme-color($ddr-light-theme, primary-container) !important;
    @media (prefers-color-scheme: dark) {
        background-color: mat.get-theme-color($ddr-dark-theme, primary-container) !important;
    }
}

.bg-secondary-container {
    background-color: mat.get-theme-color($ddr-light-theme, secondary-container) !important;
    @media (prefers-color-scheme: dark) {
        background-color: mat.get-theme-color($ddr-dark-theme, secondary-container) !important;
    }
}

.bg-tertiary-container {
    background-color: mat.get-theme-color($ddr-light-theme, tertiary-container) !important;
    @media (prefers-color-scheme: dark) {
        background-color: mat.get-theme-color($ddr-dark-theme, tertiary-container) !important;
    }
}

.bg-error-container {
    background-color: mat.get-theme-color($ddr-light-theme, error-container) !important;
    @media (prefers-color-scheme: dark) {
        background-color: mat.get-theme-color($ddr-dark-theme, error-container) !important;
    }
}

.bg-surface-container-lowest {
    background-color: mat.get-theme-color($ddr-light-theme, surface-container-lowest) !important;
    @media (prefers-color-scheme: dark) {
        background-color: mat.get-theme-color($ddr-dark-theme, surface-container-lowest) !important;
    }
}

.bg-surface-container-low {
    background-color: mat.get-theme-color($ddr-light-theme, surface-container-low) !important;
    @media (prefers-color-scheme: dark) {
        background-color: mat.get-theme-color($ddr-dark-theme, surface-container-low) !important;
    }
}

.bg-surface-container {
    background-color: mat.get-theme-color($ddr-light-theme, surface-container) !important;
    @media (prefers-color-scheme: dark) {
        background-color: mat.get-theme-color($ddr-dark-theme, surface-container) !important;
    }
}

.bg-surface-container-high {
    background-color: mat.get-theme-color($ddr-light-theme, surface-container-high) !important;
    @media (prefers-color-scheme: dark) {
        background-color: mat.get-theme-color($ddr-dark-theme, surface-container-high) !important;
    }
}

.bg-surface-container-highest {
    background-color: mat.get-theme-color($ddr-light-theme, surface-container-highest) !important;
    @media (prefers-color-scheme: dark) {
        background-color: mat.get-theme-color($ddr-dark-theme, surface-container-highest) !important;
    }
}

