$ddr-spacer: 1rem !default;
$ddr-spacers: (
        none: 0,
        quarter: $ddr-spacer * .25,
        half: $ddr-spacer * .5,
        full: $ddr-spacer,
        one-half: $ddr-spacer * 1.5,
        double: $ddr-spacer * 2
) !default;

$ddr-paddings: (
        'p': 'padding',
        'ps': 'padding-left',
        'pe': 'padding-right',
        'pt': 'padding-top',
        'pb': 'padding-bottom'
) !default;

$ddr-margins: (
        'm': 'margin',
        'ms': 'margin-left',
        'me': 'margin-right',
        'mt': 'margin-top',
        'mb': 'margin-bottom'
) !default;

$ddr-breakpoint-sm: 600px;
$ddr-breakpoint-md: 960px;
$ddr-breakpoint-lg: 1280px;
$ddr-breakpoint-xl: 1920px;
$ddr-breakpoints: (
        xs: 0,
        sm: $ddr-breakpoint-sm,
        md: $ddr-breakpoint-md,
        lg: $ddr-breakpoint-lg,
        xl: $ddr-breakpoint-xl
) !default;
