<ddr-mat-sidenav-container [stayOpenOnLargeScreen]="true">
    <div slot="mat-sidenav">
        <mat-toolbar>
            <h1>Angular material Example</h1>
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/typography">Typography</a>
            <mat-divider></mat-divider>
            <div matSubheader class="mat-caption">Components</div>
            <a mat-list-item routerLink="/components/card">Card</a>
            <a mat-list-item routerLink="/components/chips">Chips</a>
            <mat-divider></mat-divider>
            <div matSubheader class="mat-caption">Examples</div>
            <a mat-list-item routerLink="/examples/drag-and-drop-list">Drag and Drop List</a>
        </mat-nav-list>
    </div>
    <div slot="mat-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</ddr-mat-sidenav-container>
