<div class="mx-half" id=component-button>
    <h3 class="mat-title-medium">Basic</h3>
    <mat-card>
        <mat-card-content>
            <button mat-button>Primary</button>
            <button mat-button color="secondary">Secondary</button>
            <button mat-button color="tertiary">Tertiary</button>
            <button mat-button color="error">Error</button>
            <button mat-button [disabled]="true">Disabled</button>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Raised</h3>
    <mat-card>
        <mat-card-content>
            <button mat-raised-button>Primary</button>
            <button mat-raised-button color="secondary">Secondary</button>
            <button mat-raised-button color="tertiary">Tertiary</button>
            <button mat-raised-button color="error">Error</button>
            <button mat-raised-button [disabled]="true">Disabled</button>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Stroked</h3>
    <mat-card>
        <mat-card-content>
            <button mat-stroked-button>Primary</button>
            <button mat-stroked-button color="secondary">Secondary</button>
            <button mat-stroked-button color="tertiary">Tertiary</button>
            <button mat-stroked-button color="error">Error</button>
            <button mat-stroked-button [disabled]="true">Disabled</button>
        </mat-card-content>
    </mat-card>

    <h3 class="mat-title-medium">Flat</h3>
    <mat-card>
        <mat-card-content>
            <button mat-flat-button>Primary</button>
            <button mat-flat-button color="secondary">Secondary</button>
            <button mat-flat-button color="tertiary">Tertiary</button>
            <button mat-flat-button color="error">Error</button>
            <button mat-flat-button [disabled]="true">Disabled</button>
        </mat-card-content>
    </mat-card>
</div>
