@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    padding: 0;
    margin: 0;
}

.mat-sidenav-content {
    min-height: 100vh;
    padding-top: 64px;

    .mat-toolbar {
        position: fixed;
        top: 0;
        z-index: 1;

        .spacer {
            flex: 1 1 auto;
        }
    }
}

.mat-card-standalone {
    margin: 24px;
}
