@import "~material-design-icons/iconfont/material-icons.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    padding: 0;
    margin: 0;
}

.mat-drawer-content {
    padding-top: 64px;
    height: calc(100vh - 64px) !important;
    overflow: scroll;
}

.mat-sidenav-content {

    //min-height: 100vh;
    //padding-top: 64px;
    //height: 100vh;


    .mat-toolbar {

        position: fixed;
        top: 0;
        z-index: 1;
    }
}

ex-title {
    flex: 1 1 auto;
}

.mat-card-standalone {
    margin: 24px;
}

ex-sidenav-toggle {
    margin-right: 16px;
}

.fab-container {

    height: 56px + 16px + 16px;

    .mat-fab {
        position: fixed;
        right: 16px;
        bottom: 16px;
    }
}

.mat-form-field {
    width: 100%;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-preview {
    background-color: red;
    display: block;
    border: solid 1px #808080;
}
