<mat-toolbar>
    <ddr-mat-sidenav-toggle></ddr-mat-sidenav-toggle>
    <ex-title></ex-title>
</mat-toolbar>

<mat-card class="mt-3 mb-3">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Colors</mat-label>
        <mat-chip-grid #chipGrid>
            <mat-chip-row *ngFor="let color of colors" removable="true" (removed)="removeColor(color)">
                {{color}}
                <button matChipRemove [attr.aria-label]="'remove ' + color">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
            <input
                    placeholder="Pick some colors"
                    #chipInput
                    [formControl]="formControl"
                    [matAutocomplete]="autoComplete"
                    [matChipInputFor]="chipGrid"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addColor($event.value, chipInput)"
                    matChipInputAddOnBlur="false"
            />
        </mat-chip-grid>
        <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="addColor($event.option.value, chipInput)">
            <mat-option *ngFor="let filteredColor of (filteredColors$|async)" [value]="filteredColor">
                {{ filteredColor }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</mat-card>
