<mat-toolbar color="primary">
    <ex-sidenav-toggle></ex-sidenav-toggle>
    <ex-title></ex-title>
</mat-toolbar>

<mat-nav-list cdkDropList (cdkDropListDropped)="dropped($event)">
    <mat-list-item *ngFor="let user of users | async; trackBy: trackByUuid" cdkDrag>
        <img mat-list-avatar src="{{user.avatarUrl}}">
        <a mat-line [routerLink]="['/navlist', user.id]">{{user.firstName}} {{user.lastName}}</a>
        <p mat-line>{{user.userName}}</p>
        <button mat-icon-button (click)="remove(user)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-list-item>
</mat-nav-list>

<div class="fab-container">
    <button mat-fab (click)="add()">
        <mat-icon>add</mat-icon>
    </button>
</div>

<router-outlet></router-outlet>
